This file showing the data cleaning process for this project. Since the data will be updated daily, thus finding the simplest and efficient steps to do the cleaning is very necessary. Besides, there are not much types of noise in the datasets; mostly regarding the null values.

https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

###Import Library

In [17]:
import pandas as pd

## To view data max of rows
pd.options.display.expand_frame_repr = False

###Mount Drive and Import Dataset

In [18]:
from google.colab import drive
drive.mount('/content/gdrive/')

data_path = '/content/gdrive/My Drive/Tableau/Data/' ##Change this according to your path drive

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

###View of Original Data

In [19]:
print("----- ORIGINAL DATA -----")

df = pd.read_excel(data_path+"covid_131020.xlsx") 
print("COVID DATA :", df.shape)
print(df)

----- ORIGINAL DATA -----
COVID DATA : (49878, 41)
      iso_code      continent       location        date  total_cases  new_cases  new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  total_cases_per_million  new_cases_per_million  new_cases_smoothed_per_million  total_deaths_per_million  new_deaths_per_million  new_deaths_smoothed_per_million  new_tests  total_tests  total_tests_per_thousand  new_tests_per_thousand  new_tests_smoothed  new_tests_smoothed_per_thousand  tests_per_case  positive_rate tests_units  stringency_index  population  population_density  median_age  aged_65_older  aged_70_older  gdp_per_capita  extreme_poverty  cardiovasc_death_rate  diabetes_prevalence  female_smokers  male_smokers  handwashing_facilities  hospital_beds_per_thousand  life_expectancy  human_development_index
0          ABW  North America          Aruba  2020-03-13          2.0        2.0                 NaN           0.0         0.0                  NaN                   18.733                 18.733                             NaN                       0.0                     0.0                              NaN        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN              0.00    106766.0               584.8        41.2         13.085          7.452       35973.781              NaN                    NaN                11.62             NaN           NaN                     NaN                         NaN            76.29                      NaN
1          ABW  North America          Aruba  2020-03-19          NaN        NaN               0.286           NaN         NaN                  0.0                      NaN                    NaN                           2.676                       NaN                     NaN                              0.0        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN             33.33    106766.0               584.8        41.2         13.085          7.452       35973.781              NaN                    NaN                11.62             NaN           NaN                     NaN                         NaN            76.29                      NaN
2          ABW  North America          Aruba  2020-03-20          4.0        2.0               0.286           0.0         0.0                  0.0                   37.465                 18.733                           2.676                       0.0                     0.0                              0.0        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN             33.33    106766.0               584.8        41.2         13.085          7.452       35973.781              NaN                    NaN                11.62             NaN           NaN                     NaN                         NaN            76.29                      NaN
3          ABW  North America          Aruba  2020-03-21          NaN        NaN               0.286           NaN         NaN                  0.0                      NaN                    NaN                           2.676                       NaN                     NaN                              0.0        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN             44.44    106766.0               584.8        41.2         13.085          7.452       35973.781              NaN                    NaN                11.62             NaN           NaN                     NaN                         NaN            76.29                      NaN
4          ABW  North America          Aruba  2020-03-22          NaN        NaN               0.286           NaN         NaN                  0.0                      NaN                    NaN                           2.676                       NaN                     NaN                              0.0        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN             44.44    106766.0               584.8        41.2         13.085          7.452       35973.781              NaN                    NaN                11.62             NaN           NaN                     NaN                         NaN            76.29                      NaN
...        ...            ...            ...         ...          ...        ...                 ...           ...         ...                  ...                      ...                    ...                             ...                       ...                     ...                              ...        ...          ...                       ...                     ...                 ...                              ...             ...            ...         ...               ...         ...                 ...         ...            ...            ...             ...              ...                    ...                  ...             ...           ...                     ...                         ...              ...                      ...
49873      NaN            NaN  International  2020-10-09        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN               NaN         NaN                 NaN         NaN            NaN            NaN             NaN              NaN                    NaN                  NaN             NaN           NaN                     NaN                         NaN              NaN                      NaN
49874      NaN            NaN  International  2020-10-10        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN               NaN         NaN                 NaN         NaN            NaN            NaN             NaN              NaN                    NaN                  NaN             NaN           NaN                     NaN                         NaN              NaN                      NaN
49875      NaN            NaN  International  2020-10-11        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN               NaN         NaN                 NaN         NaN            NaN            NaN             NaN              NaN                    NaN                  NaN             NaN           NaN                     NaN                         NaN              NaN                      NaN
49876      NaN            NaN  International  2020-10-12        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN               NaN         NaN                 NaN         NaN            NaN            NaN             NaN              NaN                    NaN                  NaN             NaN           NaN                     NaN                         NaN              NaN                      NaN
49877      NaN            NaN  International  2020-10-13        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN        NaN          NaN                       NaN                     NaN                 NaN                              NaN             NaN            NaN         NaN               NaN         NaN                 NaN         NaN            NaN            NaN             NaN              NaN                    NaN                  NaN             NaN           NaN                     NaN                         NaN              NaN                      NaN

[49878 rows x 41 columns]

###Remove Unnecessary Data

The column starts from new_tests afterwards are removed since there is insufficient data provided in the dataset. Plus, these data are minor information and not really much helpful to put in Tableau.

Error when using ix: https://stackoverflow.com/questions/59991397/attributeerror-dataframe-object-has-no-attribute-ix

Drop multiple columns: https://www.geeksforgeeks.org/how-to-drop-one-or-multiple-columns-in-pandas-dataframe/

In [20]:
print(df.isnull().sum())

iso_code                             288
continent                            576
location                               0
date                                   0
total_cases                          636
new_cases                            860
new_cases_smoothed                  1642
total_deaths                         636
new_deaths                           860
new_deaths_smoothed                 1642
total_cases_per_million              924
new_cases_per_million                924
new_cases_smoothed_per_million      1707
total_deaths_per_million             924
new_deaths_per_million               924
new_deaths_smoothed_per_million     1707
new_tests                          31837
total_tests                        31412
total_tests_per_thousand           31412
new_tests_per_thousand             31837
new_tests_smoothed                 29447
new_tests_smoothed_per_thousand    29447
tests_per_case                     31069
positive_rate                      30607
tests_units                        28590
stringency_index                    8453
population                           288
population_density                  2571
median_age                          5433
aged_65_older                       6097
aged_70_older                       5664
gdp_per_capita                      6015
extreme_poverty                    20627
cardiovasc_death_rate               5446
diabetes_prevalence                 3851
female_smokers                     15135
male_smokers                       15578
handwashing_facilities             29007
hospital_beds_per_thousand          9781
life_expectancy                      918
human_development_index             6995
dtype: int64

In [21]:
df1 = df.drop(df.loc[:, 'new_tests':'human_development_index'].columns, axis = 1)

In [22]:
print(df1)

      iso_code      continent       location        date  total_cases  new_cases  new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  total_cases_per_million  new_cases_per_million  new_cases_smoothed_per_million  total_deaths_per_million  new_deaths_per_million  new_deaths_smoothed_per_million
0          ABW  North America          Aruba  2020-03-13          2.0        2.0                 NaN           0.0         0.0                  NaN                   18.733                 18.733                             NaN                       0.0                     0.0                              NaN
1          ABW  North America          Aruba  2020-03-19          NaN        NaN               0.286           NaN         NaN                  0.0                      NaN                    NaN                           2.676                       NaN                     NaN                              0.0
2          ABW  North America          Aruba  2020-03-20          4.0        2.0               0.286           0.0         0.0                  0.0                   37.465                 18.733                           2.676                       0.0                     0.0                              0.0
3          ABW  North America          Aruba  2020-03-21          NaN        NaN               0.286           NaN         NaN                  0.0                      NaN                    NaN                           2.676                       NaN                     NaN                              0.0
4          ABW  North America          Aruba  2020-03-22          NaN        NaN               0.286           NaN         NaN                  0.0                      NaN                    NaN                           2.676                       NaN                     NaN                              0.0
...        ...            ...            ...         ...          ...        ...                 ...           ...         ...                  ...                      ...                    ...                             ...                       ...                     ...                              ...
49873      NaN            NaN  International  2020-10-09        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN
49874      NaN            NaN  International  2020-10-10        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN
49875      NaN            NaN  International  2020-10-11        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN
49876      NaN            NaN  International  2020-10-12        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN
49877      NaN            NaN  International  2020-10-13        696.0        NaN                 NaN           7.0         NaN                  NaN                      NaN                    NaN                             NaN                       NaN                     NaN                              NaN

[49878 rows x 16 columns]

Recheck the null values in remaining dataset and replace the remaining null values with 0

https://datatofish.com/replace-nan-values-with-zeros/

In [23]:
print(df1.isnull().sum())

iso_code                            288
continent                           576
location                              0
date                                  0
total_cases                         636
new_cases                           860
new_cases_smoothed                 1642
total_deaths                        636
new_deaths                          860
new_deaths_smoothed                1642
total_cases_per_million             924
new_cases_per_million               924
new_cases_smoothed_per_million     1707
total_deaths_per_million            924
new_deaths_per_million              924
new_deaths_smoothed_per_million    1707
dtype: int64

In [24]:
df2 = df1.fillna(0)
print(df2)

      iso_code      continent       location        date  total_cases  new_cases  new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  total_cases_per_million  new_cases_per_million  new_cases_smoothed_per_million  total_deaths_per_million  new_deaths_per_million  new_deaths_smoothed_per_million
0          ABW  North America          Aruba  2020-03-13          2.0        2.0               0.000           0.0         0.0                  0.0                   18.733                 18.733                           0.000                       0.0                     0.0                              0.0
1          ABW  North America          Aruba  2020-03-19          0.0        0.0               0.286           0.0         0.0                  0.0                    0.000                  0.000                           2.676                       0.0                     0.0                              0.0
2          ABW  North America          Aruba  2020-03-20          4.0        2.0               0.286           0.0         0.0                  0.0                   37.465                 18.733                           2.676                       0.0                     0.0                              0.0
3          ABW  North America          Aruba  2020-03-21          0.0        0.0               0.286           0.0         0.0                  0.0                    0.000                  0.000                           2.676                       0.0                     0.0                              0.0
4          ABW  North America          Aruba  2020-03-22          0.0        0.0               0.286           0.0         0.0                  0.0                    0.000                  0.000                           2.676                       0.0                     0.0                              0.0
...        ...            ...            ...         ...          ...        ...                 ...           ...         ...                  ...                      ...                    ...                             ...                       ...                     ...                              ...
49873        0              0  International  2020-10-09        696.0        0.0               0.000           7.0         0.0                  0.0                    0.000                  0.000                           0.000                       0.0                     0.0                              0.0
49874        0              0  International  2020-10-10        696.0        0.0               0.000           7.0         0.0                  0.0                    0.000                  0.000                           0.000                       0.0                     0.0                              0.0
49875        0              0  International  2020-10-11        696.0        0.0               0.000           7.0         0.0                  0.0                    0.000                  0.000                           0.000                       0.0                     0.0                              0.0
49876        0              0  International  2020-10-12        696.0        0.0               0.000           7.0         0.0                  0.0                    0.000                  0.000                           0.000                       0.0                     0.0                              0.0
49877        0              0  International  2020-10-13        696.0        0.0               0.000           7.0         0.0                  0.0                    0.000                  0.000                           0.000                       0.0                     0.0                              0.0

[49878 rows x 16 columns]

In [25]:
print(df2.isnull().sum())

iso_code                           0
continent                          0
location                           0
date                               0
total_cases                        0
new_cases                          0
new_cases_smoothed                 0
total_deaths                       0
new_deaths                         0
new_deaths_smoothed                0
total_cases_per_million            0
new_cases_per_million              0
new_cases_smoothed_per_million     0
total_deaths_per_million           0
new_deaths_per_million             0
new_deaths_smoothed_per_million    0
dtype: int64

###Save the data in new excel file

https://datatofish.com/export-dataframe-to-excel/

In [26]:
df2.to_excel (data_path+'Updated_131020.xlsx')